:root {
  --main-color: #2196f3;
  --secondary-color: #212121;
  --third-color: #757575;
  --main-font: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

textarea {
  display: block;
}

button {
  border: none;
}

.link {
  text-decoration: none;
}

.list-style {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--secondary-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-blue {
  color: var(--main-color);
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
}

.mobile-menu__close-icon {
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--main-color);
}

.mobile-menu-nav {
  margin-bottom: 302px;
}

.mobile-menu-nav__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts {
  padding-bottom: 64px;
}

.mobile-menu-contacts__list {
  padding-bottom: 32px;
}

.mobile-menu-contacts__link__tel {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mobile-menu-contacts__link__email {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--third-color);
}

.mobile-menu-social__list {
  flex-wrap: wrap;
  display: flex;
}

.mobile-menu-social__link {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-right: 10px;
  margin-right: 0;
}
.mobile-menu-social__link::after {
  content: "|";
  padding-left: 10px;
  color: var(--third-color);
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #fff;
  border: 1px solid #000000;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal__close-btn-icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover .modal__close-btn-icon, .modal__close-button:focus .modal__close-btn-icon {
  fill: var(--main-color);
}

.modal__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 12px;
}

.modal-contact-form {
  display: flex;
  flex-direction: column;
}

.modal-contact-form__field {
  margin-bottom: 10px;
}
.modal-contact-form__field:last-of-type {
  margin-bottom: 20px;
}

.modal-contact-form__span {
  display: block;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third-color);
  margin-bottom: 4px;
}

.modal-contact-form__input-wrapper {
  position: relative;
}

.modal-contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-form__input:focus {
  outline: none;
  border-color: var(--main-color);
}

.modal-contact-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-form__input:focus + .modal-contact-form__icon {
  fill: var(--main-color);
}

.modal-contact-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-form__comment:focus {
  outline: none;
  border-color: var(--main-color);
}

.modal-contact-form__checkbox-wrapper {
  margin: 0 auto 30px;
}

.modal-contact-form__checkbox-label {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
.modal-contact-form__checkbox-label::before {
  display: block;
  width: 16px;
  height: 15px;
  content: "";
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  margin-right: 8px;
}
.modal-contact-form__checkbox:checked + .modal-contact-form__checkbox-label::before {
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  background-image: url("../img/bird.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.modal-contact-form__checkbox:focus + .modal-contact-form__checkbox-label::before {
  border: 2px solid var(--main-color);
  background-image: url("../img/bird.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modal-contact-form__checkbox-link {
  color: var(--main-color);
}

.modal-contact-form__button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-form__button:hover, .modal-contact-form__button:focus {
  background-color: #188ce8;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  padding: 16px 0;
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    padding: 26px 0;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding: 24px 0 25px;
  }
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
}

.mobile-menu-open-btn__icon {
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-open-btn__icon:hover, .mobile-menu-open-btn__icon:focus {
  fill: var(--main-color);
}

.nav-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    margin-right: 84px;
  }
}

.nav-menu__item {
  position: relative;
  display: flex;
}
.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--main-color);
}

.current,
.nav-menu__link:hover,
.nav-menu__link:focus {
  color: var(--main-color);
}

.header-contacts__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts__list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__list {
    flex-direction: row;
  }
}

.header-contacts__item {
  min-height: 14px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header-contacts__item {
    margin-right: 30px;
  }
}

.header-contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--main-color);
}

.header-contacts__icon {
  margin-right: 8px;
  fill: var(--third-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover .header-contacts__icon, .header-contacts__link:focus .header-contacts__icon {
  fill: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
}

.email_icon {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .email_icon {
    width: 16px;
    height: 12px;
  }
}

.phone_icon {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .phone_icon {
    width: 10px;
    height: 16px;
  }
}

.header-contacts__span {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 14px;
}
.header-contacts__span:hover, .header-contacts__span:focus {
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .header-contacts__span {
    font-size: 14px;
    min-height: 16px;
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer-contacts__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.footer-contacts__logo {
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0 auto 20px;
}

.footer-contacts__city-address {
  text-align: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  height: 21px;
  margin-bottom: 8px;
}

.footer-contacts__list {
  margin: auto;
}

.footer-contacts__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item {
  text-align: center;
  height: 21px;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-social__container {
  margin-bottom: 60px;
}

.footer-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.footer-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__item {
  display: block;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--main-color);
}

.footer-social__icon {
  fill: #fff;
}

.footer-form__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #fff;
}
.footer-form__input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  width: 200px;
  height: 50px;
  padding: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}

.footer-form__plane-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .page-footer__main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-contacts__container {
    width: 232px;
    margin: 0 165px 60px 61px;
  }
  .footer-form__container {
    margin: auto;
  }
  .footer-form__input {
    display: block;
    margin: 0 auto 20px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__main-container {
    display: flex;
    align-items: baseline;
  }
  .footer-contacts__container {
    margin: 0 70px 0 0;
  }
  .footer-contacts__logo {
    margin: 0 0 20px 0;
  }
  .footer-contacts__city-address {
    text-align: left;
    margin-bottom: 9px;
  }
  .footer-contacts__item {
    text-align: left;
    height: 21px;
  }
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social__container {
    margin: 0 93px 0 0;
  }
  .footer-title {
    text-align: left;
  }
  .footer-form__container {
    margin: 0;
  }
  .footer-form__button {
    margin: 0;
  }
}
.hero-section {
  background-color: #2f303a;
  max-width: 480px;
  padding: 118px 0;
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero_bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-container__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto 30px;
}

.hero-container__order-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-container__order-button:hover, .hero-container__order-button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    padding: 200px 0;
  }
  .hero-container__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.quality-section {
  padding: 60px 0 60px;
}

.quality-container__list-item {
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .quality-container__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.quality__icon-block {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 450px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .quality__title {
    text-align: center;
  }
}

.quality__description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  min-height: 50px;
}

@media screen and (min-width: 768px) {
  .quality-container__list {
    display: flex;
    flex-wrap: wrap;
  }
  .quality__icon-block {
    max-width: 354px;
  }
  .quality-container__list-item {
    max-width: 354px;
  }
  .quality-container__list-item:nth-child(odd) {
    margin-right: 30px;
  }
  .quality-container__list-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .quality__description {
    min-height: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .quality-section {
    padding-top: 94px;
  }
  .quality__icon-block {
    max-width: 270px;
  }
  .quality-container__list-item {
    max-width: 270px;
  }
  .quality-container__list-item:not(:last-child) {
    margin-right: 30px;
  }
}
.about-us__section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about-us__section {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-us__list {
    display: flex;
    margin-top: 50px;
  }
  .about-us__item {
    position: relative;
  }
  .about-us__item:not(:last-child) {
    margin-right: 30px;
  }
  .about-us__item-outline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
  }
}
.our-team__section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-team__list {
  margin-top: 30px;
}

.our-team__item:not(:last-child) {
  margin-bottom: 30px;
}

.our-team__item-wrap {
  width: 450px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__image {
  width: 450px;
  height: 460px;
}

.our-team__item-block {
  width: 100%;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding: 30px 30px 24px;
}

.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.team-position {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--main-color);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
  }
  .our-team__item-wrap {
    width: 354px;
  }
  .our-team__image {
    width: 354px;
    height: 374px;
  }
  .our-team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .our-team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-team__list {
    display: flex;
    margin-top: 50px;
  }
  .our-team__item-wrap {
    width: 270px;
  }
  .our-team__image {
    width: 270px;
    height: 260px;
  }
  .our-team__item-block {
    padding: 30px;
  }
  .our-team__item:not(:last-child) {
    margin: 0 30px 0 0;
  }
}
.clients__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-title {
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__item:nth-child(odd) {
  margin-right: 30px;
}
.clients__item:nth-child(-n+4) {
  margin-bottom: 30px;
}

.clients__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--main-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--main-color);
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
  .clients__item {
    margin: 0 30px 30px 0;
  }
  .clients__item:nth-child(3n+3) {
    margin-right: 0;
  }
  .clients__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
  }
  .clients__link {
    width: 170px;
    height: 92px;
  }
  .clients__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.portfolio-section {
  padding: 94px 0;
}

.portfolio__menu {
  display: flex;
  justify-content: center;
}

.portfolio__menu-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__menu-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__menu-btn:hover, .portfolio__menu-btn:focus {
  background: var(--main-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-case-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-case-list__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.portfolio-case-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-case-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-case-list__link:hover, .portfolio-case-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-case-list__overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-case-list__overlay {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-case-list__link:hover .portfolio-case-list__overlay, .portfolio-case-list__link:focus .portfolio-case-list__overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-case-list__description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-case-list__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.portfolio-case-list__category {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--third-color);
}/*# sourceMappingURL=main.css.map */