.hero-section {
  background-color: #2f303a;
  max-width: 480px;
  padding: 118px 0;
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 40%), rgba(47, 48, 58, 40%)),
    url('../img/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-container__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto 30px;
}

.hero-container__order-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    padding: 200px 0;
  }

  .hero-container__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
